.bebidas-container {
  background-color: #0a0a0a;
  color: gold;
  font-family: 'Cinzel', serif;
  min-height: 100vh;
  padding: 40px;
  text-align: center;
}

.titulo-egipcio {
  font-size: 2.3rem;
  text-shadow: 0 0 15px gold;
  margin-bottom: 20px;
}

.btn-crear {
  background: gold;
  color: black;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Cinzel', serif;
  box-shadow: 0 0 15px gold;
  transition: all 0.3s;
}

.btn-crear:hover {
  background: #caa84d;
  transform: scale(1.05);
  box-shadow: 0 0 25px gold;
}

.bebidas-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 30px;
  margin-top: 40px;
  justify-items: center;
}

.bebida-card {
  background-color: #111;
  border: 1px solid gold;
  border-radius: 12px;
  width: 230px;
  padding: 15px;
  color: gold;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.2);
}

.bebida-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 25px gold;
}

.bebida-imagen {
  width: 100%;
  border-radius: 8px;
  border: 1px solid gold;
}

.acciones {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.btn-egipcio {
  background: transparent;
  border: 1px solid gold;
  color: gold;
  padding: 5px 8px;
  font-size: 0.8rem;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}

.btn-egipcio:hover {
  background: gold;
  color: black;
}

.btn-egipcio.eliminar:hover {
  background: crimson;
  color: white;
  box-shadow: 0 0 15px red;
}
